body {
	background-image: url("https://i.pcmag.com/imagery/reviews/05cItXL96l4LE9n02WfDR0h-5.fit_scale.size_1028x578.png");
}
.project-title {
	color: red;
}
.Persona {
	color: red;
}
.user-story {
	color: red;
}
.interaction {
	color: red;
}
.model {
	color: red;
}